__pycache__/
*.pyc
Result/
Need/
workspace*/
Library/
Temp/
Obj/
Logs/
UserSettings/
Build/
Builds/
*.csproj
!AssetPipeline_CLI/**/*.csproj
*.sln
!AssetPipeline_CLI/**/*.sln
*.user
*.pdb
*.mdb
AssetPipeline_CLI/.nested_git_backup/
